
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
  cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1031.cur), auto !important;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  background-color: black;
}
.picture{
  columns: 3;
  column-gap: 5px;
  width: 80%;
  margin:10px auto;
  /* background-color: red; */
}
.picture img{
  width: 100%;
  margin:0 ;
  padding: 5px;
}
.picture h3{
  color: white;
}
.search{
  width: 100%;
  height: 50%;
  background-color:black;
  display:block;
  align-items: center;
  justify-content: center;
  /* font-family: 'Poppins',sans-serif; */
}
.search input{
  width: 25%;
  height: 39%;
  border: none;
  outline: none;
  padding: 10px 50px;
  background-color:white ;
  border-radius: 2px;

}
.search input:focus{
  background-color:  #F6F1F1;
  color: black;
  box-shadow: 0 0 3px cyan, 0 0 7px cyan, 0 0 20px cyan;

}
.search input:hover{
  background-color: #F6F1F1;
  color: black;
  box-shadow: 0 0 3px cyan, 0 0 3px cyan, 0 0 15px cyan;


}
.search button{
  background: #EB455F;
  padding: 11px 50px;
  border: none;
  outline: none;
  color: #fff;
  width: 10%;
  height: 39%;
  letter-spacing: pointer;
  /* pd */
  margin: 3px;
 
}
.search button:hover{
  background-color:#19A7CE;
  color: white;
  box-shadow: 0 0 3px cyan, 0 0 3px cyan, 0 0 15px cyan;
}
/* @media only screen and (max-width: 991px) {
  .srchbtn{
    font-size: 60%;
  }
}
@media only screen and (max-width: 767px) {
  .srchbtn{
    font-size: 50%;
  }
} */
.search h1{
  font-family: 'Poppins',sans-serif;
  font: inherit;
  padding:40px 10px;
  color: #fff;
  font-size: 3rem;
  /* text-shadow: 0 0 3px cyan, 0 0 3px cyan, 0 0 3px cyan; */

}
.App footer{
  width: 100%;
  height: 30px;
  font-size: 0.5rem;
  position: fixed;
  bottom: 0;
  display: block;
  background-color: black;
  align-items: center;
  justify-content: center;

}
.App h3{
  color: white;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  padding-top: 7px;
}
.App h3 span{
  color:#EB455F;
  font-size: 14px;

}
.App h3 a{
  color:white;
  font-size: 14px;
  color:#EB455F;
}
.App {
  text-align: center;
  background-color: black;
}
.imgsearch{
  border-radius: 30px;
}

/* .App-logo {
  padding: 30px;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */
